<div class="row mt-5 mb-5">
    <div class="col">
        <div class="titulo">
            <h1 class="titulo__tareas">Administración de Tareas</h1>
        </div>
    </div>
    <app-task-form-component></app-task-form-component>
    <hr>
    <div class="row mt-4 rounded bg-white">
        <div class=" col-12"> 
            <ul *ngFor="let item of tasks; let i = index">
                <div class="task" [class.completed]="item.status === true">
                    <div class="task__Body" style="justify-content: space-between;">
                        <div class="card-title" style="display: flex; gap: 10px;">
                            <h3>{{item.name}}</h3>
                            <div class="" style="border-left: solid 1px grey;"></div>
                            <h3>{{ item.status ? 'Completado' : 'Pendiente' }}</h3>
                        </div>                          
                        <div class="btngroup" role="group" aria-label="Acciones" *ngIf="item.status === false">
                            <button type="button" class="btn btnCustom btn-danger" (click)="deleteTask(i)"><i class="fas fa-trash" style="width: 16px; height: 16px;"></i></button>
                            <!-- <button type="button" class="btn btnCustom btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-edit" style="width: 16px; height: 16px;"></i></button> -->
                            <button type="button" class="btn btnCustom btn-success" (click)="finishTask(i)"><i class="fas fa-check" style="width: 16px; height: 16px;"></i></button>
                        </div>
                    </div>
                </div>
            </ul>
        </div> 
    </div> 
</div>
